dists/
logo/
.todo
*.gz
MYMETA.json
MYMETA.yml
Makefile
blib/
pm_to_blib
src/Mir-Config/
src/Mir-Doc-Balance/
src/Mir-Queue/
MANIFEST
MANIFEST.bak
data/
scripts/
src/Mir-UI/
src/Mir-Util-DocHandler/foo2.txt
src/Mir-Util-WebUtils-0.01/
src/Mir/lib/Mir/Acq/Fetcher/
src/Mir/lib/Mir/Stat.pm
src/Mir/lib/Mir/UI.pm
src/Mir/t/Acq/
src/Plugins/Mir-Plugin-NSA-ParseProfile/
src/Plugins/Mir-Plugin-RescaleImage/
src/Plugins/how-plugins-works.txt
src/specs/
src/tags
