/Logs/
/MANIFEST
/MYMETA.json
/MYMETA.yml
/Makefile
/blib/
*.swp
/lib/Mir/R/Acq/NGSI.pm
/pm_to_blib
/scripts/.todo
/scripts/consume-queue.pl
/scripts/cookies.dat
/scripts/dh.pl
/scripts/mir-enqueue-docs.pl
/scripts/test-mir-ir.pl
/scripts/test-mir-queue-consumer.pl
/scripts/test-mir-queue-producer.pl
/scripts/test.json
/t/05-r-ngsi.t
