# This is the main configuration file of your Dancer2 app
# env-related settings should go to environments/$env.yml
# all the settings in this file will be loaded at Dancer's startup.

# Your application's name
appname: "Mir::Config"


# use this to set an application-wide path prefix
#prefix: '/mir'

# The default layout to use for your application (located in
# views/layouts/main.tt)
layout: "main"

# when the charset is set to UTF-8 Dancer2 will handle for you
# all the magic of encoding and decoding. You should not care
# about unicode within your app when this setting is set (recommended).
charset: "UTF-8"

# template engine
# simple: default and very basic template engine
# template_toolkit: TT

template: "simple"

#template: "template_toolkit"
#engines:
#    template:
#        template_toolkit:
#            start_tag: '<%'
#            end_tag:   '%>'
#

# logging
#logger: 'File'
logger: 'console'
#layout: 'main'
engines:
    serializer:
        JSON:
            allow_blessed: 1
    logger:
        File:
            log_dir: "/home/grubert/projects/Mir/Logs"
            file_name: "mir-config.log"

plugins:
    Ajax:
        content_type: 'application/json'

# From now on, all hash ref or array ref returned by a route will be
# serialized to the format you chose, and all data received
# from POST or PUT requests will be automatically deserialized...
serializer: "JSON"
